<div class="my-3 border row">
  <div class="col-md-auto">
    <input
      type="checkbox"
      class="form-check-input"
      id="todo{{ i }}"
      (click)="onCheckboxClick(todo)"
      [checked]="!todo.active"
    />
  </div>
  <div class="col-sm-10">
    <h5 [ngClass]="{ 'text-success': !todo.active }">{{ todo.title }}</h5>
    <p [ngClass]="{ strike: !todo.active }">{{ todo.desc }}</p>
  </div>
  <div class="col-sm-1 d-flex align-items-center">
    <button class="btn btn-sm btn-danger" (click)="onClick(todo)">
      Delete
    </button>
  </div>
</div>
