<div class="my-3 border row item-color" [ngClass]="{ 'bg-snow': !todo.active }">
  <div class="col-md-auto mt-2">
    <input
      type="checkbox"
      class="form-check-input"
      id="todo{{ i }}"
      (click)="onCheckboxClick(todo)"
      [checked]="!todo.active"
    />
  </div>
  <div class="col-sm-10 mt-2">
    <h5 [ngClass]="{ 'text-success': !todo.active }">{{ todo.title }}</h5>
    <p [ngClass]="{ strike: !todo.active }">{{ todo.desc }}</p>
  </div>
  <div class="col-sm-1 d-flex align-items-center">
    <button
      class="btn btn-sm btn-primary m-3"
      (click)="passTodo(todo)"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Edit
    </button>
    <button class="btn btn-sm btn-danger" (click)="onClick(todo)">
      Delete
    </button>
  </div>
</div>
